
.ht-circus-vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ht-circus-header {
}

.ht-circus-footer {
}

.ht-circus-horizontal {
    flex-grow: 1;
    display: flex;
}

.ht-circus-left {
}

.ht-circus-center {
    flex-grow: 1;
}

.ht-circus-right {
}

