
.ht-tooltip-body {
    border-radius: 4px;
    position: absolute;
    z-index: 1100;
    font-size: 12px;
    line-height: 20px;
    width: fit-content;
    height: fit-content;
    --ht-tooltip-triangle-position: 9px;
    color: rgb(103, 103, 103);
    background: rgb(240, 240, 240);
    display: none;
}

/* it's a triangle to form 'bubble' from the tooltip div */
.ht-tooltip-body:after {
    content: "";
    width: 0;
    position: absolute;
    top: 100%;
    left: var(--ht-tooltip-triangle-position);
    border-top: 5px solid rgb(240, 240, 240);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.ht-tooltip-content {
    padding: 2px 6px;
    overflow-y: auto;
}